* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(183, 168, 89, 0.76);
  overflow-x: hidden;
}
.home {
  padding: 2rem;
}
.home .employee-heading {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  gap: 3rem;
  padding: 10px;
  background-color: #c78809;
}
.home .search {
  padding: 9px;
  width: 15rem;
  background-color: #fabc48;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  outline: none;
  
}
.home > div> h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}
.add-employee-link {
  padding: 10px;
  /* border: 1px solid #fcf3f3; */
  color: #ddc8c8;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  background-color: #da0468e5;
}
.add-employee-link:hover {
  background-color: #ae0051e5;
  transition: all;
}
/* all cards */
.all-cards {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}
.card-cont {
  padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
  padding-left: 11px;
  text-decoration: none;
  width: 18rem;
  border: #1e1b1b;
  border: 1px solid gray;
  background-color: #c7e18fc4;
}
.emp-img {
  height: 8rem;
  width: 8rem;
  transform: translateX(4rem);
}
.card-cont p {
  padding: 2px;
  font-size: 1rem;
}
.btns {
  display: flex;
  align-items: center;
  transform: translateX(1rem);
  gap: 1.4rem;
}
.btn {
  padding: 5px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid black; */
  /* border: none; */
}
.edit-btn {
  background-color: #9bbb9ba3;
  border: 1px solid #043535;
  color: #043535;
  text-decoration: none;
}
.del-btn {
  background-color: #f7b844;
  border: 1px solid #8a5d05;
  color: #372709;
}
/* css related to adding employee */
.add-emp-cont {
  padding: 1rem;
  transform: translate(30%, 3%);
  width: 60%;
  border: none;
  background-color: rgb(217, 217, 171);
  margin-bottom: 5rem;
}
.add-emp-cont > h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.4rem;
  transform: translateX(2rem);
}
.input {
  padding: 8px;
  margin-left: 10px;
  width: 70%;
  font-size: 1.2rem;
}
#department {
  padding: 10px;
  font-size: 1.2rem;
}
.gender-select-cont {
  display: flex;
  align-items: center;
}
.select-gender {
  display: flex;
  gap: 2rem;
}
label {
  padding: 1rem;
}
.address-area {
  display: flex;
}
textarea {
  width: 70%;
  height: 12rem;
  overflow: hidden;
  padding: 13px;
  font-size: 1.2rem;
  resize: none;
}
#address {
  float: inline-start;
}
.btn-submit {
  float: right;
  transform: translateX(-6rem);
  background-color: #555e1a;
  color: #d0b686;
  border: none;
}
.submissionErrors {
  font-size: 12px;
  color: rgb(253, 12, 12);
}
.address-err {
  transform: translate(-34rem , 12.5rem);
}
.link-btn {
  background-color: #036f00;
  color: #9cc6c6;
  text-decoration: none;
  transform: translateX(-7rem);
}
/* detail page */
.detail-page {
  height: 100vh;
  width: 70%;
  background-color: #7e80803d;
  transform: translateX(12rem);
  padding: 2rem;
}
.detail-page p {
  font-size: 1.5rem;
}
.loading {
  font-size: 2rem;
}
.detail-page .btns {
  display: flex;
}
.detail-page span {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  padding: 10px;
  color: rgb(168, 114, 114);
}
.detail-page .go-back {
  transform: translateY(-1rem);
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: rgb(194, 104, 104);
  border-radius: 8px;
}
.view {
  text-decoration: none;
  color: rgb(206, 63, 87);
}
footer {
  padding: 20px;
  background-color: rgb(241, 156, 27);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;

}
@media screen and (max-width : 600px) {
  .home > div > h2 {
    font-size: 1rem;
    width: 60%;
  }
  .search {
    display: none;
  }
  .add-employee-link {
    font-size: 15px;
    width: 8rem;
    padding: 5px;
    border-radius: 5px;
    background-color: #e00e77;
  }
  .all-cards {
    gap: 1rem;
    transform: translateX(1rem);
    margin-bottom: 3rem;
  }
  .add-emp-cont {
    width: 100%;
    padding: 5px;
    transform: none;
    /* height: inherit; */
    /* background-color: #388383; */
  }
  .add-emp-cont > h2 {
    font-size: 1.3rem;
  }
  form {
    font-size: 15px;
    transform: none;
    gap: 1rem;
  }
  .input , #department{
    font-size: 15px;
    padding: 3px;
    margin-top: 8px;
  }
  .gender-select-cont {
    align-items: flex-start;
  }
  .select-gender {
    flex-direction: column;
    gap: 1rem;
  }
  .address-area {
    flex-direction: column;
  }
  #address {
    width: 100%;
    font-size: 15px;
  }
  .link-btn {
    background-color: #b98422;
    color: white;
    padding: 8px;
  }
  .btn-submit {
    padding: 8px;
  }
  .detail-page {
    transform: none;
    width: 100%;
    padding: 8px;
    color: rgb(63, 24, 24);
  }
  .detail-page p {
    font-size: 18px;
    padding-top: 0.5rem;
  }
  .detail-page span {
    font-size: 1.5rem;
    padding: 8px ;
    border: 1px solid red;
    border-radius: 15px;
    color: rgb(216, 69, 69);
  }
  .detail-page .go-back {
    text-decoration: none;
    color: #ebe7df;
    padding: 8px;
    background-color: #ce5638;
    border-radius: 7px;
  }
  
}