* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(240, 234, 228);
  overflow-x: hidden;
}
.home {
  padding: 2rem;
}
.home .employee-heading {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.home > div> h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}
.add-employee-link {
  padding: 10px;
  border: 1px solid gray;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
}
.add-employee-link:hover {
  background-color: rgb(204, 202, 202);
  transition: all;
}
/* all cards */
.all-cards {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.card-cont {
  padding: 15px;
  border: 1px solid gray;
  text-decoration: none;

}
.emp-img {
  height: 8rem;
  width: 8rem;
  transform: translateX(4.25rem);
}
.card-cont p {
  padding: 2px;
  font-size: 1.2rem;
}
.btns {
  display: flex;
  align-items: center;
  transform: translateX(3rem);
  gap: 1.4rem;
}
.btn {
  padding: 7px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid black; */
  /* border: none; */
}
.edit-btn {
  background-color: #9bbb9ba3;
  border: 1px solid #043535;
  color: #043535;
  text-decoration: none;
}
.del-btn {
  background-color: #d0b686;
  border: 1px solid #8a5d05;
  color: #8a5d05;
}
/* css related to adding employee */
.add-emp-cont {
  padding: 1rem;
  transform: translate(30%, 3%);
  width: 60%;
  border: none;
  background-color: rgb(217, 217, 171);
}
.add-emp-cont > h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.4rem;
  transform: translateX(2rem);
}
.input {
  padding: 8px;
  margin-left: 10px;
  width: 70%;
  font-size: 1.2rem;
}
#department {
  padding: 10px;
  font-size: 1.2rem;
}
.gender-select-cont {
  display: flex;
  align-items: center;
}
.select-gender {
  display: flex;
  gap: 2rem;
}
label {
  padding: 1rem;
}
.address-area {
  display: flex;
}
textarea {
  width: 70%;
  height: 12rem;
  overflow: hidden;
  padding: 13px;
  font-size: 1.2rem;
  resize: none;
}
#address {
  float: inline-start;
}
.btn-submit {
  float: right;
  transform: translateX(-6rem);
  background-color: #555e1a;
  color: #d0b686;
  border: none;
}
.submissionErrors {
  font-size: 12px;
  color: rgb(253, 12, 12);
}
.address-err {
  transform: translate(-34rem , 12.5rem);
}