* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(242, 167, 130, 0.16);
  overflow-x: hidden;
}
.home {
  padding: 2rem;
}
.home .employee-heading {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.home > div> h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}
.add-employee-link {
  padding: 10px;
  border: 1px solid #c6b6b6;
  color: #5b3434;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  background-color: #ecc6b4;
}
.add-employee-link:hover {
  background-color: #cea18c;
  transition: all;
}
/* all cards */
.all-cards {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}
.card-cont {
  padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
  padding-left: 11px;
  text-decoration: none;
  width: 18rem;
  border: #1e1b1b;
  border: 1px solid gray;
  background-color: #c7e18fc4;
}
.emp-img {
  height: 8rem;
  width: 8rem;
  transform: translateX(4rem);
}
.card-cont p {
  padding: 2px;
  font-size: 1rem;
}
.btns {
  display: flex;
  align-items: center;
  transform: translateX(1rem);
  gap: 1.4rem;
}
.btn {
  padding: 5px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  /* border: 1px solid black; */
  /* border: none; */
}
.edit-btn {
  background-color: #9bbb9ba3;
  border: 1px solid #043535;
  color: #043535;
  text-decoration: none;
}
.del-btn {
  background-color: #f7b844;
  border: 1px solid #8a5d05;
  color: #372709;
}
/* css related to adding employee */
.add-emp-cont {
  padding: 1rem;
  transform: translate(30%, 3%);
  width: 60%;
  border: none;
  background-color: rgb(217, 217, 171);
}
.add-emp-cont > h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.4rem;
  transform: translateX(2rem);
}
.input {
  padding: 8px;
  margin-left: 10px;
  width: 70%;
  font-size: 1.2rem;
}
#department {
  padding: 10px;
  font-size: 1.2rem;
}
.gender-select-cont {
  display: flex;
  align-items: center;
}
.select-gender {
  display: flex;
  gap: 2rem;
}
label {
  padding: 1rem;
}
.address-area {
  display: flex;
}
textarea {
  width: 70%;
  height: 12rem;
  overflow: hidden;
  padding: 13px;
  font-size: 1.2rem;
  resize: none;
}
#address {
  float: inline-start;
}
.btn-submit {
  float: right;
  transform: translateX(-6rem);
  background-color: #555e1a;
  color: #d0b686;
  border: none;
}
.submissionErrors {
  font-size: 12px;
  color: rgb(253, 12, 12);
}
.address-err {
  transform: translate(-34rem , 12.5rem);
}
.link-btn {
  background-color: #036f00;
  color: #9cc6c6;
  text-decoration: none;
  transform: translateX(-7rem);
}